body
{
margin: 0;
padding: 0;
background-position: center;
background-image: url(../imagenes/3.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.titulo 
{
font-style: italic;
color: red;
font-size: 80px;
text-shadow: black 6px 6px 2px;
}
.parrafos
{
color: white;
text-align: justify;
margin-right:700px;
font-size: 30px;
}
.tituloba
{
color: white;
text-align: justify;
margin-left: :700px;
font-size: 50px;
}
.parrafosba
{
color: white;
text-align: justify;
margin-left:700px;
font-size: 30px;
}
.imagen1
{
text-align: left;
margin-left:-650px;
margin-top: 100px;

}
.imagen2
{
text-align: right;
margin-right:110px;
margin-top: -1000px;
margin-bottom: 300px;
}
.videos
{
text-align: center;
float:  right;
margin-right:100px;
}
